<div class="login-form-wrapper">
  <h3>{{data.title}}</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="inputs-wrapper">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <i mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
           [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </i>
      </mat-form-field>
    </div>
    <button mat-stroked-button color="primary">{{data.title}}</button>
  </form>

  <div class="register-link-block">
    <span [routerLink]="data.oppositeFormLink">{{data.oppositeFormName}}</span>
    <span>Forgot your password?</span>
  </div>

</div>
