@import "src/styles/theme";

.layout-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  @extend %d-flex-center;
  grid-template-rows: auto;
  background-color: $auth-layout-background;
}
